{% extends 'base.html' %}


{% block head %}
<title>Artify</title>
{% endblock %}






{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="illustration">
                <img src="static/images/index.png">
            </div>
        </div>

        <div class="col-sm mx-auto">
            <div class="text-center mt-1">
                <span class="heading">Give your Image an Artistic Look</span>
            </div>
            <br>
            <br>

            <div class="text-center">
                <a href="/upload-image">
                    <button type="button" class="btn btn-dark btn-rounded upload-button">Upload Image</button>
                </a>
            </div>
        </div>
    </div>

</div>


{% endblock %}